// grid

.row {
    @include cf();
    @include box-sizing();
}

@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% / 12 * $i;
        float: left;
        padding: 0 $grid-pad;
        @include box-sizing();
    }
}
@for $i from 1 through 11 {
    .col-pull-#{$i} {
        position:relative;
        right: 100% / 12 * $i;
    }
    .col-push-#{$i} {
        position:relative;
        left: 100% / 12 * $i;
    }
    .col-offset-#{$i} {
        margin-left: 100% / 12 * $i;
    }
}

@import "_media";
