@import "_base";

h1 {
    @include font-size(2);
}
h2 {
    @include font-size(1.8);
}
.row {
    > div {
        height:60px;
        line-height:60px;
        text-align:center;
        background:#eee;
        border: solid 1px #fff;
        @include font-size(1.4);
        &:hover {
            background:#ddd;
        }
    }
}
a {
    @include font-size(1.6);
}